* {
    box-sizing: border-box;
    font-family: 'Rock Salt', cursive;
    overflow: hidden;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

.header {
    background-image: url(../img/9.1.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.header h1 {
    padding: 30px;
    text-align: left;
    color: yellow;
}

.header img {
    width: 100%;
    padding: 65vh 80% 0 10%;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #FF5D5D;
}

@media screen and (max-width: 700px) {
    * {
        box-sizing: border-box;
        font-family: harry_pregular;
        overflow: visible;
    }
    .header {
        width: 100%;
        padding: 10px;
        background-image: url('../img/9.2.png');
    }
    #p15 {
        width: 50%;
    }
    #p16 {
        width: 50%;
    }
    #p0 {
        font-size: 50px;
        padding: 0 0 50px 0;
    }
    .header img {
        width: 100%;
        padding: 65vh 80% 0 10%;
    }
}