@font-face {
    font-family: 'harry_pregular';
    src: url('../font/harryp__-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: harry_pregular;
    overflow-x: hidden;
    scrollbar-color: black;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
}

.one-column {
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
}

#pantallaA h2 {
    padding: 30px;
    text-align: left;
    color: yellow;
}

#pantallaR h2 {
    padding: 30px;
    text-align: left;
    color: rgba(230, 59, 59, 0.568);
}

#p4_1,
#p4_2,
#p4_3,
#p4_4,
#p4_5,
#p4_6 {
    width: 500px;
    height: 50px;
    font-size: 25px;
    text-shadow: black 0.10em 0.1em 0.5em;
    text-align: center;
}

.one-column h1 {
    font-size: 5vw;
    text-align: center;
    -webkit-text-stroke: 0.25px black;
    color: #FFC300;
}

.two-column {
    float: left;
    width: 50%;
    padding: 2%;
}

.two-column img {
    width: 100%;
}

.two-column h1 {
    font-size: 5vw;
}

.two-column p {
    font-size: 3vw;
}

.four-column {
    float: left;
    width: 25%;
    padding: 2%;
}

.four-column img {
    width: 100%;
}

.four-column p {
    text-align: center;
}

#seccion-4 {
    background-image: url(../img/4.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
}

#seccion-5 {
    background-image: url(../img/5.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
}

#seccion-6 {
    background-image: url(../img/6.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#seccion-4 input {
    width: 500px;
    height: 50px;
    font-size: 25px;
}

#seccion-4 a,
#seccion-5 a,
#seccion-6 a {
    a: link;
    a: visited;
    a: active;
    text-decoration: none;
    -webkit-text-stroke: 1.2px black;
    color: #FF5D5D;
    font-size: 35px;
}

.pantalla h2 {
    padding: 30px;
    text-align: left;
    color: white;
    font-size: 35px;
}

@media screen and (max-width:600px) {
    #seccion-4 input {
        width: 250px;
        height: 35px;
        font-size: 25px;
    }
    #seccion-4 h1 {
        font-size: 12vw;
        padding: 20px 0% 5px;
    }
    .pantalla h2 {
        font-size: 6vw;
        padding-bottom: 10px;
    }
}