@font-face {
    font-family: 'harry_pregular';
    src: url('../font/harryp__-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    /* font family */
    /*  font-family: 'Rock Salt', cursive;*/
    font-family: harry_pregular;
}

body {
    margin: 0;
}


/*Barra de navegación*/

html {
    scroll-behavior: smooth;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 5% 20px 12%;
    text-align: center;
    color: white;
}

.header h1 {
    font-size: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0% 15% 5px 15%;
    overflow: hidden;
    top: 0;
    width: 100%;
    font-size: 25px;
    transition: 0.4s;
    /*tiempo que se aplica el color de fondo a la barra de navegacion*/
}

li {
    float: center;
    width: 100%;
    height: 10%;
}

li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.pantalla h2 {
    padding: 30px;
    text-align: left;
    color: white;
}

.pantalla h2 {
    color: black;
}


/*clases de columnas*/

.one-column {
    width: 100%;
    padding: 10%;
}

.one-column a {
    font-size: 2.5vw;
    text-align: center;
}

.two-column {
    float: left;
    width: 50%;
    padding: 2%;
}

.two-column img {
    width: 100%;
}

.two-column h1 {
    font-size: 5vw;
}

.two-column p {
    font-size: 3vw;
}

.four-column {
    float: left;
    width: 25%;
    padding: 2%;
}

.four-column img {
    width: 100%;
}

.four-column p {
    text-align: center;
}


/*flecha*/

.header-bottom .bottom-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-flecha {
    animation: flecha 2s infinite;
}

.bottom-center a {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes flecha {
    0%,
    100% {
        -webkit-transform: translatey(-2rem);
        transform: translatey(-2rem);
    }
    50% {
        -webkit-transform: translatey(0);
        transform: translatey(0);
    }
}

@-o-keyframes flecha {
    0%,
    100% {
        -o-transform: translatey(-2rem);
        transform: translatey(-2rem);
    }
    50% {
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

@keyframes flecha {
    0%,
    100% {
        -webkit-transform: translatey(-2rem);
        -o-transform: translatey(-2rem);
        transform: translatey(-2rem);
    }
    50% {
        -webkit-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}


/*flecha final*/


/*IDs*/

#seccion-1 {
    background-image: url(../img/1-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 4px 20px 45%;
    text-align: center;
    color: rgb(0, 0, 0);
}

#seccion-1 h1 {
    font-size: 5vw;
    padding: 20px 0%;
}

#seccion-2 {
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 4px 20px 45%;
    text-align: center;
    color: rgb(0, 0, 0);
}

#seccion-2 h1 {
    font-size: 5vw;
    padding: 20px 0%;
}

#seccion-3 {
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 4px 20px 45%;
    text-align: center;
    color: rgb(0, 0, 0);
}

#seccion-3 h1 {
    font-size: 5vw;
    padding: 20px 0%;
}

#seccion-1 input {
    width: 500px;
    height: 50px;
    font-size: 25px;
}

#seccion-1 a {
    a: link;
    a: visited;
    a: active;
    text-decoration: none;
    color: #FF5D5D;
}

#seccion-2 input {
    width: 500px;
    height: 50px;
    font-size: 25px;
}

#seccion-2 a {
    a: link;
    a: visited;
    a: active;
    text-decoration: none;
    color: #FF5D5D;
}

#seccion-3 input {
    width: 500px;
    height: 50px;
    font-size: 25px;
}

#seccion-3 a {
    a: link;
    a: visited;
    a: active;
    text-decoration: none;
    color: #FF5D5D;
}


/*Clases auxiliares*/

.padding-0 {
    padding: 0px;
}

.padding-30 {
    padding-top: 30px;
}


/*scrolldown*/

a img {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-decoration: none;
}

@media screen and (max-width:600px) {
    .header {
        background-image: url(../img/1_movil.jpg);
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
        color: white;
    }
    .two-column {
        width: 100%;
    }
    .two-column h1 {
        font-size: 8vw;
    }
    .two-column p {
        font-size: 4.2vw;
    }
    .four-column {
        width: 50%;
    }
    .header h1 {
        font-size: 300%;
    }
    /*id*/
    #seccion-1 {
        background-image: url(../img/1-2_movil.jpg);
    }
    #seccion-2 {
        background-image: url(../img/2_movil.jpg);
    }
    #seccion-3 {
        background-image: url(../img/3_movil.jpg);
    }
    #seccion-1 h1 {
        font-size: 12vw;
        padding: 20px 0% 5px;
    }
    #seccion-2 h1 {
        font-size: 12vw;
        padding: 20px 0% 5px;
    }
    #seccion-3 h1 {
        font-size: 12vw;
        padding: 20px 0% 5px;
    }
    #seccion-1 input {
        width: 250px;
        height: 35px;
        font-size: 25px;
    }
    #seccion-1 a {
        a: link;
        a: visited;
        a: active;
        text-decoration: none;
        color: #FF5D5D;
        font-size: 25px;
    }
    #seccion-2 input {
        width: 250px;
        height: 35px;
        font-size: 25px;
    }
    #seccion-2 a {
        a: link;
        a: visited;
        a: active;
        text-decoration: none;
        color: #FF5D5D;
        font-size: 25px;
    }
    #seccion-3 input {
        width: 250px;
        height: 35px;
        font-size: 25px;
    }
    #seccion-3 a {
        a: link;
        a: visited;
        a: active;
        text-decoration: none;
        color: #FF5D5D;
        font-size: 25px;
    }
}