* {
    box-sizing: border-box;
    font-family: 'Rock Salt', cursive;
    overflow: hidden;
}

body {
    margin: 0;
}

.header {
    background-image: url('../img/7.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.header h1 {
    padding: 30px;
    text-align: left;
    color: rgba(230, 59, 59, 0.568);
}

.pregunta1 {
    color: white;
    font-size: 40px;
    color: white;
    text-shadow: black 0.10em 0.1em 0.5em;
}