<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styleso.css">
    <link rel="shortcut icon " href="../img/logo.jpg " />
    <script src="../js/val_2.js "></script>
    <title>Scape Room HP</title>
</head>

<body>

    <div class="one-column" id="seccion-2">
        <div class="pantalla">
            <h2>Pantalla 2</h2>
        </div>
        <h1>Cual es la mascota de Harry Potter?</h1>
        <input type="text" name="val-1" id="val-1" placeholder="Introduce tu respuesta">
        <h1>A que casa de Hogwarts Harry Potter?</h1>
        <input type="text" name="val-2" id="val-2" placeholder="Introduce tu respuesta">
        <br>
        <br>
        <a href="3.html" onclick="return val_1()">Enviar Respuesta</a>
    </div>
</body>

</html>