<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styleso.css">
    <link rel="shortcut icon " href="../img/logo.jpg " />
    <script src="../js/val_3.js "></script>
    <title>Scape Room | 3</title>
</head>

<body>
    <div class="one-column" id="seccion-3">
        <div class="pantalla">
            <h2>Pantalla 3</h2>
        </div>
        <h1>Cual es el anden para ir a Hogwarts?</h1>
        <input type="text" name="val-1" id="val-1" placeholder="Tu respuesta muggle!">
        <h1>Quien es el selector de casa?</h1>
        <input type="text" name="val-2" id="val-2" placeholder="Tu respuesta muggle!">
        <br>
        <br>
        <br>
        <br>
        <a href="7.html" onclick="return val_1()">¡Validar reto!</a>
    </div>
</body>

</html>