<!DOCTYPE html>
<html lang="en">

<head>
    <title> Escape Room | 4 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon " href="../img/logo.jpg " />
    <link rel="stylesheet" type="text/css" href="../css/stylesC.css">
    <script src="../js/val_4.js"></script>
</head>

<body>
    <div class="one-column" id="seccion-4">
        <div class="pantalla">
            <h2>Pantalla 4</h2>
        </div>

        <h1>¿Con que edad fue Harry a Hogwarts?</h1>
        <input type="text" name="p4_1" id="p4_1" placeholder="Introduce tu respuesta">
        <h1>¿Quienes son los 2 mejores amigos de Harry?</h1>
        <input type="text" name="p4_2" id="p4_2" placeholder="Introduce tu respuesta">
        <br>
        <br>
        <br>
        <a href="7.html" onclick="return val_1()">¡Validar reto!</a>
    </div>

</body>