<!DOCTYPE html>
<html lang="en">

<head>
    <title> Escape Room | 4 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/stylesC.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <script src="js/val_4.js"></script>
</head>

<body>
    <header>
        <h1>Pantalla 4</h1>
    </header>

    <div class="row" id=quest4_1>
        <h1>Con cuanto años se fue Harry a Hogwarts?</h1>

        <input type="text" name="val-1" id="val-1" placeholder="Años">
        <a href="https://www.google.com" onclick="return val_1()">Validar reto</a>

        <h1>Quienes son los dos mejores amigos de Harry?</h1>
    </div>


    <input type="text" name="val-2" id="val-2" placeholder="Años">
    <a href="https://www.google.com" onclick="return val_2()">Validar reto</a>

    <h1>A cual de sus dos amigos conocio primero?</h1>

    <h1>Como se llama el director de Hogwarts?</h1>

    <h1>Como se llama la tienda donde Harry consigue su varita?</h1>

    <h1>Como se llama el pajaro en el que vuela por prmera vez?</h1>


</body>