<!DOCTYPE html>
<html lang="en">

<head>
    <title> Escape Room | 5 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon " href="../img/logo.jpg " />
    <link rel="stylesheet" type="text/css" href="../css/stylesC.css">
    <script src="../js/val_4.js"></script>
</head>

<body>
    <div class="one-column" id="seccion-5">
        <div id="pantallaR">
            <h2>Pantalla 5</h2>
        </div>

        <h1>¿A cual de sus dos amigos conoce primero?</h1>
        <input type="text" name="p4_3" id="p4_3" placeholder="Introduce tu respuesta">
        <h1>¿Como se llama el director de Hogwarts?</h1>
        <input type="text" name="p4_4" id="p4_4" placeholder="Introduce tu respuesta">
        <br>
        <br>
        <br>
        <a href="6.html" onclick="return val_2()">¡Validar reto!</a>
    </div>

</body>