<!DOCTYPE html>
<html lang="en">

<head>
    <title> Escape Room | 6 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon " href="../img/logo.jpg " />
    <link rel="stylesheet" type="text/css" href="../css/stylesC.css">
    <script src="../js/val_4.js"></script>
</head>

<body>
    <div class="one-column" id="seccion-6">
        <div id="pantallaA">
            <h2>Pantalla 6</h2>
        </div>

        <h1>¿Como se llama la tienda donde consigue HP su varita?</h1>
        <input type="text" name="p4_5" id="p4_5" placeholder="Introduce tu respuesta">
        <h1>¿Como se llama el pajaro en el que vuela por primera vez?</h1>
        <input type="text" name="p4_6" id="p4_6" placeholder="Introduce tu respuesta">
        <br>
        <br>
        <br>
        <a href="7.html" onclick="return val_3()">¡Validar reto!</a>
    </div>

</body>