<!DOCTYPE html>
<html>

<head>
    <title>Scape Room | 7</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/stylesm7.css">
    <script src="../js/7.js"></script>
    <link rel="icon" type="image/png" href="../img/logo.jpg" />

</head>

<body>
    <div class="header">
        <div class="p">
            <h1>Pantalla 7</h1>
            <H2 class="pregunta13">¿Como se llama la planta que Harry Potter aprende a plantar?</H2>
            <input type="text" name="p13" id="p13" placeholder="Tu respuesta muggle!">
        </div>
        <div class="p">
            <H2 class="pregunta14">¿Que elemento usa Harry Potter para respirar bajo el agua?</H2>
            <input type="text" name="p14" id="p14" placeholder="Tu respuesta muggle!">
            <div class="reto">
                <a href="8.html" id="p0" onclick="return pantalla7()">¡Validar reto!</a>
            </div>
        </div>
    </div>
</body>

</html>