<!DOCTYPE html>
<html>

<head>
    <title>Scape Room | 8</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/stylesm8.css">
    <script src="../js/8.js"></script>
    <link rel="icon" type="image/png" href="../img/logo.jpg" />

</head>

<body>
    <div class="header">
        <div class="p">
            <h1>Pantalla 8</h1>
            <H2 class="pregunta15">¿Que hechizo usan para hacer levitar las cosas?</H2>
            <input type="text" name="p15" id="p15" placeholder="Tu respuesta muggle!">
        </div>
        <div class="p">
            <H2 class="pregunta16">¿En qué se convierte hermione con la poción multijugos?</H2>
            <input type="text" name="p16" id="p16" placeholder="Tu respuesta muggle!">
            <div class="reto">
                <a href="9.html" id="p15" onclick="return pantalla8()">¡Validar reto!</a>
            </div>
        </div>
    </div>
</body>

</html>